<%- include('partials/header.html') %>

<section class="outras-noticias1">
    <div class="title-outras-noticias">
        <h2>busca:</h2>
        <div class="center2">
            <div class="mais-lidas">
                <div class="title-pricipal">
                  <h3><%= contagem %> resultado(s)</h3>
                </div>
              <div class="mais-lidas-noticias">

                  <% for(let i = 0; i < posts.length; i++) { %>

                 <div class="mais-lida-noticias-single">
                     <img src="<%= posts[i].imagem %>">
                     <div class="texto-mais-lida-single">
                         <div class="alinhar">
                        <h4 class="<%= posts[i].categoria %>"><%= posts[i].categoria %></h4>
                        <a href="<%= posts[i].slug %>">Saiba mais</a>
                      </div>
                        <p><%- posts[i].conteudo.substr(0,190).concat('...') %> - <span style="font-weight: bold;">(<%= posts[i].views %>) views</span></p>
                      </div><!--texto-mais-lida-single-->
                 </div><!--mais-lida-noticias-single-->

                 <% } %>


              </div><!--mais-lidas-noticias-->
            </div><!--mais-lidas-->
        </div><!--center-->
    </div><!--title-outras-noticias-->
</section>
<%- include('partials/footer.html') %>